/* Header.module.css - 헤더 스타일 */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: var(--padding-page);
  line-height: var(--header-height);
  box-sizing: border-box;
}

.logo {
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
  text-decoration: none;
}
