/* src/components/Sidebar/NavigationList.module.css */
.navigationList {
  list-style: none;
  padding: 0;
}

.navItem {
  padding: var(--padding-small);
  cursor: pointer;
}

.navButton {
  background: none;
  border: none;
  color: inherit;
  text-align: left;
  padding: 0;
}

.penIcon {
  margin-left: 8px;
}

.recordIcon {
  margin-left: 5px;
  color: red;
  /* 녹음 중임을 강조하기 위해 빨간색 */
}