/* src/components/Sidebar/Sidebar.module.css */
.sidebar {
  width: 250px;
  background-color: var(--secondary-color);
  padding: var(--padding-medium);
  height: calc(100vh - var(--header-height));
  position: fixed;
  /* 사이드바를 고정시킴 */
  top: var(--header-height);
  /* 헤더 바로 아래에 위치 */
  left: 0;
  overflow-y: auto;
  /* 콘텐츠가 많을 경우 내부 스크롤 가능 */
}