.patientCard {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e5e5ea;
  border-radius: 30px;
  padding: 38px 32px;
  width: 436px;
  height: 200px;
  gap: 30px;
}

.deleteButtonContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.deleteButton {
  background: rgb(216, 68, 68);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.avatarContainer {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 170px;
  height: 170px;
}

.patientInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.patientName {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.phoneIconContainer {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.phoneTooltip {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
}

.phoneIconContainer:hover .phoneTooltip {
  visibility: visible;
  opacity: 1;
}

.patientDetails {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin: 4px 0;
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  vertical-align: middle;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg)
    brightness(104%) contrast(103%);
}

.patientName,
.patientDetails,
.avatarContainer,
.deleteButton {
  user-select: none;
}
