/* PatientListPage.module.css - 환자 리스트 스타일 */

.searchAndAdd {
  display: flex;
  align-items: center;
  gap: 16px;
}

.listHeader {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
}

.title {
  color: #3563e9;
  font-size: var(--font-size-large);
}

.patientList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
