.sessionCard {
  background: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: calc(33% - 20px); /* 3개가 가로로 표시될 수 있도록 설정 */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 버튼과 내용 사이에 공간 유지 */
}

.cardHeader {
  display: flex;
  justify-content: space-between; /* 날짜와 제목 사이 공간 */
  font-weight: bold;
}

.viewButton {
  margin-top: 10px;
  background-color: var(--accent-color); /* 색상 변경 */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.saveButton {
  margin-top: 5px;
  background-color: var(--accent-color); /* 색상 변경 */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
