.sessionCard {
  position: relative;
  background: var(--secondary-color);
  border-radius: var(--border-medium);
  padding: 20px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.deleteButtonContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 8px;
  /* 삭제 버튼과 수정 버튼 사이 간격 */
}

.deleteButton,
.editButton {
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteButton {
  background: rgb(216, 68, 68);
  /* 빨간색 배경 */
}

.editButton {
  background: rgb(68, 123, 216);
  /* 파란색 배경 */
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  /* 텍스트를 아래로 조금만 이동 */
}

.cardText {
  font-size: 16px;
  font-weight: bold;
  color: #000000ee;
  text-align: center;
}

.actionButtonContainer {
  margin-top: 5px;
  /* 버튼과 텍스트 사이의 마진을 줄임 */
}