.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-large);
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: center;
  background-color: #0511f2;
  color: #ffffff;
  user-select: none;
}

.actionButton:hover {
  opacity: 0.8;
}
