/* Header.module.css - 헤더 스타일 */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-page);
  line-height: var(--header-height);
  border-bottom: 2px solid #e5e5ea;
  background-color: #fff;
  box-sizing: border-box;
}

.logo {
  font-size: var(--font-size-extra-large);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  background: linear-gradient(90deg, #32cd32, #8a2be2);
  -webkit-background-clip: text;
  color: transparent;
  margin-left: 0;
}
