.patientCard {
  display: flex;
  align-items: center;
  background-color: #e5e5ea;
  border-radius: 30px;
  padding: 38px 32px;
  width: 436px;
  height: 200px;
  gap: 30px;
}

.avatarContainer {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 170px;
  height: 170px;
}

.patientInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.patientName {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-top: 30px;
}

.patientDetails {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin: 4px 0;
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  vertical-align: middle;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg)
    brightness(104%) contrast(103%);
}

.detailButton:hover {
  opacity: 0.85;
}

.patientName,
.patientDetails,
.avatarContainer {
  user-select: none;
}
